body {
    background-image: url(./data/rickandmorty/img/back-3.png);
    background-repeat: repeat;
    background-size: contain;
    margin-top: 120px; /* Agrega un margen superior igual a la altura del header */
}

header {
    background-repeat: no-repeat;
    background-color: rgba(212, 223, 81, 0.9);
    height: 100px;
    width: 100%;
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: 1000; /* Asegura que el header esté por encima del contenido */
}

nav {
    display: flex;
    flex: 1; /* Ocupa todo el espacio disponible dentro del header */
    position: relative;
}

.navbar-brand {
    display: flex;
    justify-content: flex-start; /* Alinea imagen a la izquierda */
    z-index: 300;
    margin-left: 20px; /* Agrega un margen a la izquierda para separarla del campo de búsqueda */
  }

form {
    margin-left: auto; /* Alinea el formulario (y el campo de búsqueda) a la derecha */
}

input[type="search"] {
    margin: 20px 20px;
    padding: 10px;
    border: 2px solid #cf5711; 
    border-radius: 8px; 
    color: #cf5711; 
    width: 250px; 
}

.filters {
    font-family: 'Raleway', sans-serif;
    padding: 1%;
    display:flex;
    flex-direction:column; /* Cambia a una columna para poner los filtros debajo de la imagen */
    align-items: center; /* Centra horizontalmente */
    justify-content: center;
    width: 100%;
}

.filter-options label { /* Dar formato a las etiquetas <label> dentro del contenedor de filtros */
    /* Estilos para las etiquetas de los filtros */
    color: #333; /* Cambia el color de texto */
    font-weight: normal; /* Cambia el peso de la fuente */
    margin-right: 5px; /* Agrega un margen a la derecha para separar de los select */
    font-size: small;
  }
  
.filter-options { /* Da formato y estilo al contenedor que agrupa las opciones de filtro en la página */
    font-family: 'Raleway', sans-serif;
    width: 100%; /* Ajusta el ancho para que ocupe el ancho completo */
    display: flex; /* Cambia a flex para alinear horizontalmente los filtros */
    justify-content: center; /* Centra horizontalmente los filtros */
    align-items: center;
    
}

.logo-container {
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente dentro del contenedor */
    align-items: center; /* Centra horizontalmente los elementos dentro del contenedor */
    margin-bottom: 1px; /* Espacio entre la imagen y los filtros */
}

select {
    writing-mode: horizontal-tb !important; /* Modo de escritura horizontal de izquierda a derecha */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: small;
    font-family: 'Raleway';
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    white-space-collapse: preserve;
    text-wrap: nowrap;
    -webkit-rtl-ordering: logical;
    background-color: field;
    cursor: default;
    margin: 1%;
    border-width: 0px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 15px;
    padding: 6px;
    width: 20%;
}

.flex-container {
    font-family: 'Raleway', sans-serif;
    display: flex; /*los inputs del contenedor se distribuirán en una sola fila */
    flex-wrap: wrap; /* los inputs dentro del contenedor se ajustan automáticamente en filas adicionales si no caben en una sola fila */
    justify-content: space-evenly;/* Distribuye el espacio entre los elementos del contenedor, lo que crea un espaciado equitativo entre los inputs */
    align-items: center; /* Alinea los items verticalmente en el centro */
    min-height: calc(100vh - 100px); /* Resta la altura del header para calcular la altura mín. del contenedor */
    padding-top: 0%; /* Añade espacio en la parte superior para evitar que las cajas queden sobre el header */
}

.flex-item {
    background-color: #FFFFFF;
    border-radius: 15px;
    border: 15px solid #fff;
    border-bottom-width: 15px;
    margin: 30px;
    padding: 15px 0 0 0px;
    height: auto;
    width: 180px;
    overflow: hidden; /* Evita que el contenido se salga del ítem */
    font-size: small;
}

img {
    position:relative; 
    top:-15px; /* aqui le daras un menos tanto dependiendo lo que necesites */
    max-width: 100%; /* Asegura que la imagen no se salga del ítem */
    border-radius: 15px;
}
h1 {
    color: #208D44;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin: 0;
    line-height: 1; /* Disminuye el interlineado a 1 (sin espacio entre líneas) */
}
/* Subheading */
h3 {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-weight: normal;
    font-size: 17px;
    line-height: normal; /* Disminuye el interlineado (espacio reducido entre líneas) */
}
button {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    display: inline;
    border: none;
    border-radius: 10px;
    background-color: #8ECA49;
    margin: 10px;
    height: 41px;
    width: 160px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
  }
button.details-btn:hover {
    background-color: #689634; /*Cambio de color al pasar el mouse sobre el botón*/
}
.character-details.hidden { /* Agregamos una clase para ocultar los detalles inicialmente */
    display: none;
}
.character-details:not(.hidden) { /* Clase para mostrar los detalles cuando no tiene la clase "hidden" */
    display: block;
}

@media (max-width:600px) {  /*pantallas pequeñas*/
    .flex-container {
        display: flex;
        flex-direction: column; /*Acomodará las cards verticalmente*/
        align-items: center; /*pondrá al centro las cards horizontalmente*/
        padding-top: 100px;
    }
    .flex-item {
        width: 100%; /*Es mejor usar % para asegurarnos de que se adapte el ancho*/
        margin: 10px; /*Con esto ya no hay tanto espacio entre las cards*/
    }
    .navbar-brand {
        justify-content: flex-start; /*FALTA QUE LA IMAGEN CAMBIE DE TAMAÑO P/ENTREN LOS FILTROS*/
        max-width: 80%; /* Establece un ancho máximo para la imagen */
        min-width: min-content;
    }
}

@media (min-width:601px) and (max-width:1080) { /*Pantallas medianas*/
        .flex-container {
        display: flex;
        justify-content: space-evenly;
        padding-top:200px;
        }

        .flex-item {
            width: 50%;
        }
}

